<h2 class="devise-header">  Bal Week <br /> - New Account - </h2>

<%= form_for(resource, as: resource_name, :html => {:class => "devise-form"}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="info">
    (If you do not receive a confirmation email after signing up, check your spam folder.)
  </div><br />

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name" %>
  </div>

   <div class="field">
    <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder: "City" %><br></br>
  </div>

   <div class="field">
    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "Postal Code" %><br></br>
  </div>

  <div class="field">
    <%= f.country_select :country, priority_countries: ["US", "CA"], autofocus: true %>
  </div><br />

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div><br />

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
  </div><br/>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "devise-button" %>
  </div>

  <div class="links">
    <%= render "devise/shared/links" %><br />
  </div>
<% end %>


