<%= auto_session_timeout_js %>

<h2 class="devise-header">Bal Week Registration Log In</h2>

<%= form_for(resource, as: resource_name, :html => {:class => "devise-form"}, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %><br></br>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", :class => "devise-button"%>
  </div>
  
  <div class="links">
    <%= render "devise/shared/links" %><br />
    <%= link_to "Log in as Admin", new_admin_user_session_path %> 
  </div>
<% end %>



